<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.runtime.remoting>
		<application>
			<channels>
				<channel ref="tcp" />
			</channels>

			<client>
				<wellknown
				 type="RemoteTRn.IStudentService, RemoteTRn"
				 url="tcp://localhost:9999/StudentService" />
			</client>

		</application>
	</system.runtime.remoting>
</configuration>
