<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.runtime.remoting>
		<application>
			<client>
				<!-- Remote object reference -->
				<wellknown
				  type="RemotingTrm.IMyInter, RemotingTrm"
				  url="tcp://localhost:8085/Hii" />
			</client>

			<!-- Define TCP Channel -->
			<channels>
				<channel ref="tcp" />
			</channels>
		</application>
	</system.runtime.remoting>
</configuration>
