<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.runtime.remoting>
		<application>
			<service>
				<!-- Server Activated Object -->
				<wellknown
				  mode="Singleton"
				  type="RemoteLib.ServiceClass,RemoteLib"
				  objectUri="Hii" />
			</service>

			<!-- Define TCP Channel -->
			<channels>
				<channel ref="tcp" port="8085" />
			</channels>
		</application>
	</system.runtime.remoting>
</configuration>

